<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00385.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,338}</string>
                <key>spriteSourceSize</key>
                <string>{267,338}</string>
                <key>textureRect</key>
                <string>{{267,337},{267,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00386.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,342}</string>
                <key>spriteSourceSize</key>
                <string>{267,342}</string>
                <key>textureRect</key>
                <string>{{0,1016},{267,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00387.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,344}</string>
                <key>spriteSourceSize</key>
                <string>{267,344}</string>
                <key>textureRect</key>
                <string>{{535,1016},{267,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00388.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,341}</string>
                <key>spriteSourceSize</key>
                <string>{267,341}</string>
                <key>textureRect</key>
                <string>{{267,675},{267,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00389.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,337}</string>
                <key>spriteSourceSize</key>
                <string>{267,337}</string>
                <key>textureRect</key>
                <string>{{267,0},{267,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00390.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,337}</string>
                <key>spriteSourceSize</key>
                <string>{267,337}</string>
                <key>textureRect</key>
                <string>{{534,0},{267,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00391.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,337}</string>
                <key>spriteSourceSize</key>
                <string>{267,337}</string>
                <key>textureRect</key>
                <string>{{0,337},{267,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00392.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,336}</string>
                <key>spriteSourceSize</key>
                <string>{267,336}</string>
                <key>textureRect</key>
                <string>{{0,0},{267,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00393.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,338}</string>
                <key>spriteSourceSize</key>
                <string>{267,338}</string>
                <key>textureRect</key>
                <string>{{534,337},{267,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00394.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,339}</string>
                <key>spriteSourceSize</key>
                <string>{267,339}</string>
                <key>textureRect</key>
                <string>{{0,675},{267,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00395.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,341}</string>
                <key>spriteSourceSize</key>
                <string>{267,341}</string>
                <key>textureRect</key>
                <string>{{534,675},{267,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00396.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,342}</string>
                <key>spriteSourceSize</key>
                <string>{268,342}</string>
                <key>textureRect</key>
                <string>{{267,1016},{268,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tianyashenjian.png</string>
            <key>size</key>
            <string>{802,1360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5578e598c52687dfb2eb84945993847:48c763bbf8a972dfe1a64bb4047bca51:d6b5abbdfd84dc42b90dbf87e376a5c7$</string>
            <key>textureFileName</key>
            <string>tianyashenjian.png</string>
        </dict>
    </dict>
</plist>
