<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>轰雷击6.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{434,449}}</string>
        <key>offset</key>
        <string>{-3.5,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46,53},{434,449}}</string>
        <key>sourceSize</key>
        <string>{533,533}</string>
      </dict>
      <key>轰雷击5.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,0},{426,442}}</string>
        <key>offset</key>
        <string>{-6.5,13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47,59},{426,442}}</string>
        <key>sourceSize</key>
        <string>{533,533}</string>
      </dict>
      <key>轰雷击4.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,0},{427,438}}</string>
        <key>offset</key>
        <string>{7,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{60,59},{427,438}}</string>
        <key>sourceSize</key>
        <string>{533,533}</string>
      </dict>
      <key>轰雷击7.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1293,0},{417,444}}</string>
        <key>offset</key>
        <string>{1,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{59,53},{417,444}}</string>
        <key>sourceSize</key>
        <string>{533,533}</string>
      </dict>
      <key>轰雷击2.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,440},{417,432}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{58,52},{417,432}}</string>
        <key>sourceSize</key>
        <string>{533,533}</string>
      </dict>
      <key>轰雷击3.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,444},{417,428}}</string>
        <key>offset</key>
        <string>{10,10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,63},{417,428}}</string>
        <key>sourceSize</key>
        <string>{533,533}</string>
      </dict>
      <key>轰雷击9.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1283,446},{437,408}}</string>
        <key>offset</key>
        <string>{2,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50,61},{437,408}}</string>
        <key>sourceSize</key>
        <string>{533,533}</string>
      </dict>
      <key>轰雷击1.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,451},{428,416}}</string>
        <key>offset</key>
        <string>{-0.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52,53},{428,416}}</string>
        <key>sourceSize</key>
        <string>{533,533}</string>
      </dict>
      <key>轰雷击8.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1283,856},{425,404}}</string>
        <key>offset</key>
        <string>{6,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{60,64},{425,404}}</string>
        <key>sourceSize</key>
        <string>{533,533}</string>
      </dict>
      <key>轰雷击10.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,869},{424,403}}</string>
        <key>offset</key>
        <string>{-5.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49,62},{424,403}}</string>
        <key>sourceSize</key>
        <string>{533,533}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>leidian_2.png</string>
      <key>size</key>
      <string>{1720,1272}</string>
      <key>textureFileName</key>
      <string>leidian_2.png</string>
    </dict>
  </dict>
</plist>