<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00240.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{0,0},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00241.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{315,0},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00242.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{630,0},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00243.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{945,0},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00244.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{1260,0},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00245.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{1575,0},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00246.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{0,436},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00247.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{315,436},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00248.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{630,436},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00249.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{945,436},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00250.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{1260,436},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00251.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{1575,436},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00252.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{0,872},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00253.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{315,872},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00254.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{630,872},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00255.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{945,872},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00256.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{1260,872},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00257.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{1575,872},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00258.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{0,1308},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00259.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{315,1308},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00260.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{630,1308},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00261.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,436}</string>
                <key>spriteSourceSize</key>
                <string>{315,436}</string>
                <key>textureRect</key>
                <string>{{945,1308},{315,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>haihuangsumo.png</string>
            <key>size</key>
            <string>{1890,1744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87e1cefe95be35a463f8c4ccad4fe1c8:64b7c86a4732265dd2d9992cd7af4129:ba5c457f54c011ba2bf1c2a788103fb6$</string>
            <key>textureFileName</key>
            <string>haihuangsumo.png</string>
        </dict>
    </dict>
</plist>
