<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,328}</string>
                <key>spriteSourceSize</key>
                <string>{378,328}</string>
                <key>textureRect</key>
                <string>{{0,325},{378,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00001.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,338}</string>
                <key>spriteSourceSize</key>
                <string>{382,338}</string>
                <key>textureRect</key>
                <string>{{1525,325},{382,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00002.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,332}</string>
                <key>spriteSourceSize</key>
                <string>{384,332}</string>
                <key>textureRect</key>
                <string>{{758,325},{384,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00003.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,345}</string>
                <key>spriteSourceSize</key>
                <string>{390,345}</string>
                <key>textureRect</key>
                <string>{{0,663},{390,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00004.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,354}</string>
                <key>spriteSourceSize</key>
                <string>{392,354}</string>
                <key>textureRect</key>
                <string>{{390,663},{392,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00005.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,360}</string>
                <key>spriteSourceSize</key>
                <string>{394,360}</string>
                <key>textureRect</key>
                <string>{{782,663},{394,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00006.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,371}</string>
                <key>spriteSourceSize</key>
                <string>{394,371}</string>
                <key>textureRect</key>
                <string>{{1176,663},{394,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00007.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,377}</string>
                <key>spriteSourceSize</key>
                <string>{395,377}</string>
                <key>textureRect</key>
                <string>{{393,1034},{395,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00008.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,379}</string>
                <key>spriteSourceSize</key>
                <string>{393,379}</string>
                <key>textureRect</key>
                <string>{{788,1034},{393,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00009.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,373}</string>
                <key>spriteSourceSize</key>
                <string>{393,373}</string>
                <key>textureRect</key>
                <string>{{0,1034},{393,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00010.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,381}</string>
                <key>spriteSourceSize</key>
                <string>{389,381}</string>
                <key>textureRect</key>
                <string>{{1181,1034},{389,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00011.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,333}</string>
                <key>spriteSourceSize</key>
                <string>{383,333}</string>
                <key>textureRect</key>
                <string>{{1142,325},{383,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00012.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,321}</string>
                <key>spriteSourceSize</key>
                <string>{381,321}</string>
                <key>textureRect</key>
                <string>{{0,0},{381,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00013.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,325}</string>
                <key>spriteSourceSize</key>
                <string>{379,325}</string>
                <key>textureRect</key>
                <string>{{1143,0},{379,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00014.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,325}</string>
                <key>spriteSourceSize</key>
                <string>{380,325}</string>
                <key>textureRect</key>
                <string>{{1522,0},{380,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00015.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,321}</string>
                <key>spriteSourceSize</key>
                <string>{382,321}</string>
                <key>textureRect</key>
                <string>{{381,0},{382,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00016.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,324}</string>
                <key>spriteSourceSize</key>
                <string>{380,324}</string>
                <key>textureRect</key>
                <string>{{763,0},{380,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00017.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,328}</string>
                <key>spriteSourceSize</key>
                <string>{380,328}</string>
                <key>textureRect</key>
                <string>{{378,325},{380,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ziyanmodao.png</string>
            <key>size</key>
            <string>{1907,1415}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34d98ea145d927cbacc29003d4a0da79:dbf8dc58fef00644e47a3353f4a150be:470de71e1f96bbf53993b556da91a395$</string>
            <key>textureFileName</key>
            <string>ziyanmodao.png</string>
        </dict>
    </dict>
</plist>
