<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>870003.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{291,318}}</string>
        <key>offset</key>
        <string>{-16.5,15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,33},{291,318}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870004.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,0},{303,302}}</string>
        <key>offset</key>
        <string>{-9.5,10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,36},{303,302}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870002.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,0},{269,325}}</string>
        <key>offset</key>
        <string>{-3.5,14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,29},{269,325}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870008.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,304},{291,266}}</string>
        <key>offset</key>
        <string>{16.5,-44}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33,0},{291,266}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870001.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,320},{227,323}}</string>
        <key>offset</key>
        <string>{37.5,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{86,24},{227,323}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870005.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,327},{299,244}}</string>
        <key>offset</key>
        <string>{-4.5,14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,69},{299,244}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870007.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,572},{270,267}}</string>
        <key>offset</key>
        <string>{10,-14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,29},{270,267}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870006.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,573},{268,248}}</string>
        <key>offset</key>
        <string>{6,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34,59},{268,248}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870009.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,823},{258,257}}</string>
        <key>offset</key>
        <string>{12,-43.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45,5},{258,257}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870010.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,573},{193,198}}</string>
        <key>offset</key>
        <string>{47.5,-37}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{113,41},{193,198}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870011.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,645},{206,160}}</string>
        <key>offset</key>
        <string>{31,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{90,52},{206,160}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870000.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,0},{110,186}}</string>
        <key>offset</key>
        <string>{59,57}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{166,141},{110,186}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870012.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,188},{122,135}}</string>
        <key>offset</key>
        <string>{17,-31.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{118,78},{122,135}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870013.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,325},{118,118}}</string>
        <key>offset</key>
        <string>{19,-23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{122,95},{118,118}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870014.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,445},{118,118}}</string>
        <key>offset</key>
        <string>{19,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{122,94},{118,118}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870015.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,773},{89,88}}</string>
        <key>offset</key>
        <string>{18.5,-25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{136,108},{89,88}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
      <key>870016.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,773},{75,78}}</string>
        <key>offset</key>
        <string>{18.5,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{143,111},{75,78}}</string>
        <key>sourceSize</key>
        <string>{324,354}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>pan_long.png</string>
      <key>size</key>
      <string>{1005,1080}</string>
      <key>textureFileName</key>
      <string>pan_long.png</string>
    </dict>
  </dict>
</plist>