<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00030.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,420}</string>
                <key>spriteSourceSize</key>
                <string>{252,420}</string>
                <key>textureRect</key>
                <string>{{0,0},{252,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00031.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,420}</string>
                <key>spriteSourceSize</key>
                <string>{252,420}</string>
                <key>textureRect</key>
                <string>{{252,0},{252,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00032.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,420}</string>
                <key>spriteSourceSize</key>
                <string>{252,420}</string>
                <key>textureRect</key>
                <string>{{504,0},{252,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00033.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,420}</string>
                <key>spriteSourceSize</key>
                <string>{252,420}</string>
                <key>textureRect</key>
                <string>{{756,0},{252,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00034.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,420}</string>
                <key>spriteSourceSize</key>
                <string>{252,420}</string>
                <key>textureRect</key>
                <string>{{0,420},{252,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00035.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,420}</string>
                <key>spriteSourceSize</key>
                <string>{252,420}</string>
                <key>textureRect</key>
                <string>{{252,420},{252,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00036.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,420}</string>
                <key>spriteSourceSize</key>
                <string>{252,420}</string>
                <key>textureRect</key>
                <string>{{504,420},{252,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00037.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,420}</string>
                <key>spriteSourceSize</key>
                <string>{252,420}</string>
                <key>textureRect</key>
                <string>{{756,420},{252,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00038.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,420}</string>
                <key>spriteSourceSize</key>
                <string>{252,420}</string>
                <key>textureRect</key>
                <string>{{0,840},{252,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00039.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,420}</string>
                <key>spriteSourceSize</key>
                <string>{252,420}</string>
                <key>textureRect</key>
                <string>{{252,840},{252,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cihangpudu.png</string>
            <key>size</key>
            <string>{1008,1260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca65c45617d7b89fe666227c164775d8:5337742cb7ca9409890fc55d3a46d70b:15bd7fdfe1badfd22a215c2ee7963f8d$</string>
            <key>textureFileName</key>
            <string>cihangpudu.png</string>
        </dict>
    </dict>
</plist>
