<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00557.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,408}</string>
                <key>spriteSourceSize</key>
                <string>{292,408}</string>
                <key>textureRect</key>
                <string>{{604,1207},{292,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00558.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,409}</string>
                <key>spriteSourceSize</key>
                <string>{292,409}</string>
                <key>textureRect</key>
                <string>{{1188,1207},{292,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00559.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,402}</string>
                <key>spriteSourceSize</key>
                <string>{290,402}</string>
                <key>textureRect</key>
                <string>{{1165,399},{290,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00560.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,399}</string>
                <key>spriteSourceSize</key>
                <string>{292,399}</string>
                <key>textureRect</key>
                <string>{{1170,0},{292,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00561.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,400}</string>
                <key>spriteSourceSize</key>
                <string>{291,400}</string>
                <key>textureRect</key>
                <string>{{583,399},{291,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00562.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,399}</string>
                <key>spriteSourceSize</key>
                <string>{291,399}</string>
                <key>textureRect</key>
                <string>{{1462,0},{291,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00563.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,397}</string>
                <key>spriteSourceSize</key>
                <string>{293,397}</string>
                <key>textureRect</key>
                <string>{{0,0},{293,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00564.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,397}</string>
                <key>spriteSourceSize</key>
                <string>{292,397}</string>
                <key>textureRect</key>
                <string>{{293,0},{292,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00565.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,406}</string>
                <key>spriteSourceSize</key>
                <string>{293,406}</string>
                <key>textureRect</key>
                <string>{{0,801},{293,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00566.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,406}</string>
                <key>spriteSourceSize</key>
                <string>{293,406}</string>
                <key>textureRect</key>
                <string>{{293,801},{293,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00567.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,406}</string>
                <key>spriteSourceSize</key>
                <string>{302,406}</string>
                <key>textureRect</key>
                <string>{{586,801},{302,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00568.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,406}</string>
                <key>spriteSourceSize</key>
                <string>{302,406}</string>
                <key>textureRect</key>
                <string>{{888,801},{302,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00569.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,408}</string>
                <key>spriteSourceSize</key>
                <string>{292,408}</string>
                <key>textureRect</key>
                <string>{{896,1207},{292,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00570.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,409}</string>
                <key>spriteSourceSize</key>
                <string>{292,409}</string>
                <key>textureRect</key>
                <string>{{1480,1207},{292,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00571.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,402}</string>
                <key>spriteSourceSize</key>
                <string>{290,402}</string>
                <key>textureRect</key>
                <string>{{1455,399},{290,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00572.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,399}</string>
                <key>spriteSourceSize</key>
                <string>{292,399}</string>
                <key>textureRect</key>
                <string>{{0,399},{292,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00573.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,400}</string>
                <key>spriteSourceSize</key>
                <string>{291,400}</string>
                <key>textureRect</key>
                <string>{{874,399},{291,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00574.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,399}</string>
                <key>spriteSourceSize</key>
                <string>{291,399}</string>
                <key>textureRect</key>
                <string>{{292,399},{291,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00575.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,397}</string>
                <key>spriteSourceSize</key>
                <string>{293,397}</string>
                <key>textureRect</key>
                <string>{{585,0},{293,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00576.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,397}</string>
                <key>spriteSourceSize</key>
                <string>{292,397}</string>
                <key>textureRect</key>
                <string>{{878,0},{292,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00577.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,406}</string>
                <key>spriteSourceSize</key>
                <string>{293,406}</string>
                <key>textureRect</key>
                <string>{{1190,801},{293,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00578.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,406}</string>
                <key>spriteSourceSize</key>
                <string>{293,406}</string>
                <key>textureRect</key>
                <string>{{1483,801},{293,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00579.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,406}</string>
                <key>spriteSourceSize</key>
                <string>{302,406}</string>
                <key>textureRect</key>
                <string>{{0,1207},{302,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00580.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,406}</string>
                <key>spriteSourceSize</key>
                <string>{302,406}</string>
                <key>textureRect</key>
                <string>{{302,1207},{302,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shanheyongji.png</string>
            <key>size</key>
            <string>{1776,1616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22bd0797754fdb93d76fa51cf6e2f70d:9ab96ac39442fab771fadb5e8bb15758:4eb8700b475b5eea4269da2bcc5d3299$</string>
            <key>textureFileName</key>
            <string>shanheyongji.png</string>
        </dict>
    </dict>
</plist>
