<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>图像5.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{235,246}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,246}}</string>
        <key>sourceSize</key>
        <string>{235,246}</string>
      </dict>
      <key>图像3.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{238,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,236}}</string>
        <key>sourceSize</key>
        <string>{238,236}</string>
      </dict>
      <key>图像1.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,238},{235,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,232}}</string>
        <key>sourceSize</key>
        <string>{235,232}</string>
      </dict>
      <key>图像2.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,472},{238,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,228}}</string>
        <key>sourceSize</key>
        <string>{238,228}</string>
      </dict>
      <key>图像4.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,472},{237,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{237,228}}</string>
        <key>sourceSize</key>
        <string>{237,228}</string>
      </dict>
      <key>图像7.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,248},{210,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{210,210}}</string>
        <key>sourceSize</key>
        <string>{210,210}</string>
      </dict>
      <key>图像6.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,702},{176,223}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,223}}</string>
        <key>sourceSize</key>
        <string>{176,223}</string>
      </dict>
      <key>图像8.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,702},{167,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,113}}</string>
        <key>sourceSize</key>
        <string>{167,113}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>long_texiao.png</string>
      <key>size</key>
      <string>{477,925}</string>
      <key>textureFileName</key>
      <string>long_texiao.png</string>
    </dict>
  </dict>
</plist>