<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>7.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{216,321}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,321}}</string>
        <key>sourceSize</key>
        <string>{217,321}</string>
      </dict>
      <key>6.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{213,321}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,0},{213,321}}</string>
        <key>sourceSize</key>
        <string>{217,321}</string>
      </dict>
      <key>8.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,0},{209,319}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,1},{209,319}}</string>
        <key>sourceSize</key>
        <string>{217,321}</string>
      </dict>
      <key>9.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,0},{206,314}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,4},{206,314}}</string>
        <key>sourceSize</key>
        <string>{217,321}</string>
      </dict>
      <key>10.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,316},{207,312}}</string>
        <key>offset</key>
        <string>{2,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,5},{207,312}}</string>
        <key>sourceSize</key>
        <string>{217,321}</string>
      </dict>
      <key>11.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,0},{123,309}}</string>
        <key>offset</key>
        <string>{43,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{90,7},{123,309}}</string>
        <key>sourceSize</key>
        <string>{217,321}</string>
      </dict>
      <key>12.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,311},{121,294}}</string>
        <key>offset</key>
        <string>{43,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{91,14},{121,294}}</string>
        <key>sourceSize</key>
        <string>{217,321}</string>
      </dict>
      <key>13.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,321},{90,182}}</string>
        <key>offset</key>
        <string>{54.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{118,70},{90,182}}</string>
        <key>sourceSize</key>
        <string>{217,321}</string>
      </dict>
      <key>5.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,321},{107,60}}</string>
        <key>offset</key>
        <string>{-7,118.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48,249},{107,60}}</string>
        <key>sourceSize</key>
        <string>{217,321}</string>
      </dict>
      <key>4.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,323},{104,60}}</string>
        <key>offset</key>
        <string>{-7.5,118.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49,249},{104,60}}</string>
        <key>sourceSize</key>
        <string>{217,321}</string>
      </dict>
      <key>14.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,323},{51,102}}</string>
        <key>offset</key>
        <string>{36,40.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119,150},{51,102}}</string>
        <key>sourceSize</key>
        <string>{217,321}</string>
      </dict>
      <key>3.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,323},{98,51}}</string>
        <key>offset</key>
        <string>{-6.5,123}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53,258},{98,51}}</string>
        <key>sourceSize</key>
        <string>{217,321}</string>
      </dict>
      <key>2.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,323},{91,33}}</string>
        <key>offset</key>
        <string>{-6,129}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57,273},{91,33}}</string>
        <key>sourceSize</key>
        <string>{217,321}</string>
      </dict>
      <key>1.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,323},{71,31}}</string>
        <key>offset</key>
        <string>{-13,130}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{60,275},{71,31}}</string>
        <key>sourceSize</key>
        <string>{217,321}</string>
      </dict>
      <key>0.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,0},{1,1}}</string>
        <key>offset</key>
        <string>{49,135}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{157,295},{1,1}}</string>
        <key>sourceSize</key>
        <string>{217,321}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>huoyan.png</string>
      <key>size</key>
      <string>{978,628}</string>
      <key>textureFileName</key>
      <string>huoyan.png</string>
    </dict>
  </dict>
</plist>