<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00060.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,337}</string>
                <key>spriteSourceSize</key>
                <string>{385,337}</string>
                <key>textureRect</key>
                <string>{{381,0},{385,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00061.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,358}</string>
                <key>spriteSourceSize</key>
                <string>{383,358}</string>
                <key>textureRect</key>
                <string>{{381,1036},{383,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00062.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,376}</string>
                <key>spriteSourceSize</key>
                <string>{379,376}</string>
                <key>textureRect</key>
                <string>{{764,1036},{379,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00063.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,383}</string>
                <key>spriteSourceSize</key>
                <string>{379,383}</string>
                <key>textureRect</key>
                <string>{{1143,1036},{379,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00064.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,339}</string>
                <key>spriteSourceSize</key>
                <string>{382,339}</string>
                <key>textureRect</key>
                <string>{{0,337},{382,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00065.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,339}</string>
                <key>spriteSourceSize</key>
                <string>{378,339}</string>
                <key>textureRect</key>
                <string>{{382,337},{378,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00066.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,337}</string>
                <key>spriteSourceSize</key>
                <string>{377,337}</string>
                <key>textureRect</key>
                <string>{{766,0},{377,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00067.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,337}</string>
                <key>spriteSourceSize</key>
                <string>{374,337}</string>
                <key>textureRect</key>
                <string>{{1143,0},{374,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00068.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,343}</string>
                <key>spriteSourceSize</key>
                <string>{377,343}</string>
                <key>textureRect</key>
                <string>{{760,337},{377,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00069.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,345}</string>
                <key>spriteSourceSize</key>
                <string>{376,345}</string>
                <key>textureRect</key>
                <string>{{0,681},{376,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00070.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,355}</string>
                <key>spriteSourceSize</key>
                <string>{381,355}</string>
                <key>textureRect</key>
                <string>{{1139,681},{381,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00071.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,353}</string>
                <key>spriteSourceSize</key>
                <string>{384,353}</string>
                <key>textureRect</key>
                <string>{{755,681},{384,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00072.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,356}</string>
                <key>spriteSourceSize</key>
                <string>{381,356}</string>
                <key>textureRect</key>
                <string>{{0,1036},{381,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00073.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,332}</string>
                <key>spriteSourceSize</key>
                <string>{381,332}</string>
                <key>textureRect</key>
                <string>{{0,0},{381,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00074.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,337}</string>
                <key>spriteSourceSize</key>
                <string>{381,337}</string>
                <key>textureRect</key>
                <string>{{1517,0},{381,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00075.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,344}</string>
                <key>spriteSourceSize</key>
                <string>{377,344}</string>
                <key>textureRect</key>
                <string>{{1519,337},{377,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00076.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,347}</string>
                <key>spriteSourceSize</key>
                <string>{379,347}</string>
                <key>textureRect</key>
                <string>{{376,681},{379,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00077.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,343}</string>
                <key>spriteSourceSize</key>
                <string>{382,343}</string>
                <key>textureRect</key>
                <string>{{1137,337},{382,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chongfanyangguangzhishang.png</string>
            <key>size</key>
            <string>{1898,1419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f61d19ad69b57e8ca3fae1051d0c1e41:ea3db3ab67211b3b4778f03bd4d08c05:842fa250aa604638549a0e8d9dfa56c2$</string>
            <key>textureFileName</key>
            <string>chongfanyangguangzhishang.png</string>
        </dict>
    </dict>
</plist>
