<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>22.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{359,362}}</string>
        <key>offset</key>
        <string>{2.5,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,6},{359,362}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>21.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,0},{357,364}}</string>
        <key>offset</key>
        <string>{4.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,4},{357,364}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>20.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{356,364}}</string>
        <key>offset</key>
        <string>{6,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,4},{356,364}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>18.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,366},{351,368}}</string>
        <key>offset</key>
        <string>{9.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,1},{351,368}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>19.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,730},{351,366}}</string>
        <key>offset</key>
        <string>{7.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,3},{351,366}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>17.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,736},{336,368}}</string>
        <key>offset</key>
        <string>{17,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,0},{336,368}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>16.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,0},{210,251}}</string>
        <key>offset</key>
        <string>{81,-58}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{164,1},{210,251}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>23.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,253},{251,166}}</string>
        <key>offset</key>
        <string>{-55.5,99.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,201},{251,166}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>15.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,421},{174,137}}</string>
        <key>offset</key>
        <string>{101,-116}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{202,0},{174,137}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>14.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,560},{169,90}}</string>
        <key>offset</key>
        <string>{101.5,-138.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{205,1},{169,90}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>9.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,652},{171,72}}</string>
        <key>offset</key>
        <string>{100.5,-147.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{203,1},{171,72}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>10.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,726},{168,73}}</string>
        <key>offset</key>
        <string>{101,-148}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{205,0},{168,73}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>8.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,801},{172,71}}</string>
        <key>offset</key>
        <string>{101,-148}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{203,1},{172,71}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>13.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,874},{168,71}}</string>
        <key>offset</key>
        <string>{101,-147}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{205,2},{168,71}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>11.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,947},{169,70}}</string>
        <key>offset</key>
        <string>{100.5,-148.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{204,1},{169,70}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>12.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,1019},{167,69}}</string>
        <key>offset</key>
        <string>{100.5,-148}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{205,2},{167,69}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>7.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,874},{158,65}}</string>
        <key>offset</key>
        <string>{101,-149}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{210,3},{158,65}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>6.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,801},{146,58}}</string>
        <key>offset</key>
        <string>{101,-149.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{216,6},{146,58}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>24.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,1090},{259,26}}</string>
        <key>offset</key>
        <string>{-55.5,156.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,328},{259,26}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>5.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,421},{133,52}}</string>
        <key>offset</key>
        <string>{99.5,-148.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{221,10},{133,52}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>25.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1098},{265,20}}</string>
        <key>offset</key>
        <string>{-55.5,164.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,339},{265,20}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>4.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,475},{101,31}}</string>
        <key>offset</key>
        <string>{100.5,-139}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{238,30},{101,31}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>3.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,508},{97,28}}</string>
        <key>offset</key>
        <string>{100.5,-140.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{240,30},{97,28}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>2.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{932,0},{75,19}}</string>
        <key>offset</key>
        <string>{100.5,-145}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{251,30},{75,19}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>1.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{932,21},{54,13}}</string>
        <key>offset</key>
        <string>{100,-148}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{261,30},{54,13}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
      <key>26.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,0},{1,1}}</string>
        <key>offset</key>
        <string>{-64.5,183}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{123,367},{1,1}}</string>
        <key>sourceSize</key>
        <string>{376,369}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>yunshi.png</string>
      <key>size</key>
      <string>{1020,1118}</string>
      <key>textureFileName</key>
      <string>yunshi.png</string>
    </dict>
  </dict>
</plist>