<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00140.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,454}</string>
                <key>spriteSourceSize</key>
                <string>{287,454}</string>
                <key>textureRect</key>
                <string>{{574,449},{287,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00141.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,449}</string>
                <key>spriteSourceSize</key>
                <string>{287,449}</string>
                <key>textureRect</key>
                <string>{{0,0},{287,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00142.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,449}</string>
                <key>spriteSourceSize</key>
                <string>{287,449}</string>
                <key>textureRect</key>
                <string>{{287,0},{287,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00143.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,452}</string>
                <key>spriteSourceSize</key>
                <string>{287,452}</string>
                <key>textureRect</key>
                <string>{{287,449},{287,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00144.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,449}</string>
                <key>spriteSourceSize</key>
                <string>{287,449}</string>
                <key>textureRect</key>
                <string>{{574,0},{287,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00145.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,450}</string>
                <key>spriteSourceSize</key>
                <string>{287,450}</string>
                <key>textureRect</key>
                <string>{{0,449},{287,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00146.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,454}</string>
                <key>spriteSourceSize</key>
                <string>{287,454}</string>
                <key>textureRect</key>
                <string>{{0,903},{287,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00147.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,454}</string>
                <key>spriteSourceSize</key>
                <string>{287,454}</string>
                <key>textureRect</key>
                <string>{{287,903},{287,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00148.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,454}</string>
                <key>spriteSourceSize</key>
                <string>{287,454}</string>
                <key>textureRect</key>
                <string>{{574,903},{287,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00149.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,454}</string>
                <key>spriteSourceSize</key>
                <string>{287,454}</string>
                <key>textureRect</key>
                <string>{{0,1357},{287,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chiyan.png</string>
            <key>size</key>
            <string>{861,1811}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c372edf4982f36aa3d1d7a9c6f10d0d:564eca869139efe41f5248f2be73e4ad:ea82b3eb697bcb924cf1cc678915bc49$</string>
            <key>textureFileName</key>
            <string>chiyan.png</string>
        </dict>
    </dict>
</plist>
