<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00640.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,532}</string>
                <key>spriteSourceSize</key>
                <string>{365,532}</string>
                <key>textureRect</key>
                <string>{{0,0},{365,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00641.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,532}</string>
                <key>spriteSourceSize</key>
                <string>{365,532}</string>
                <key>textureRect</key>
                <string>{{365,0},{365,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00642.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,532}</string>
                <key>spriteSourceSize</key>
                <string>{365,532}</string>
                <key>textureRect</key>
                <string>{{730,0},{365,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00643.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,532}</string>
                <key>spriteSourceSize</key>
                <string>{365,532}</string>
                <key>textureRect</key>
                <string>{{1095,0},{365,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00644.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,532}</string>
                <key>spriteSourceSize</key>
                <string>{365,532}</string>
                <key>textureRect</key>
                <string>{{1460,0},{365,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00645.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,532}</string>
                <key>spriteSourceSize</key>
                <string>{365,532}</string>
                <key>textureRect</key>
                <string>{{0,532},{365,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00646.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,532}</string>
                <key>spriteSourceSize</key>
                <string>{365,532}</string>
                <key>textureRect</key>
                <string>{{365,532},{365,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00647.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,532}</string>
                <key>spriteSourceSize</key>
                <string>{365,532}</string>
                <key>textureRect</key>
                <string>{{730,532},{365,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00648.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,532}</string>
                <key>spriteSourceSize</key>
                <string>{365,532}</string>
                <key>textureRect</key>
                <string>{{1095,532},{365,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00649.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,532}</string>
                <key>spriteSourceSize</key>
                <string>{365,532}</string>
                <key>textureRect</key>
                <string>{{1460,532},{365,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00650.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,532}</string>
                <key>spriteSourceSize</key>
                <string>{365,532}</string>
                <key>textureRect</key>
                <string>{{0,1064},{365,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00651.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,532}</string>
                <key>spriteSourceSize</key>
                <string>{365,532}</string>
                <key>textureRect</key>
                <string>{{365,1064},{365,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00652.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,532}</string>
                <key>spriteSourceSize</key>
                <string>{365,532}</string>
                <key>textureRect</key>
                <string>{{730,1064},{365,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00653.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,532}</string>
                <key>spriteSourceSize</key>
                <string>{365,532}</string>
                <key>textureRect</key>
                <string>{{1095,1064},{365,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00654.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,532}</string>
                <key>spriteSourceSize</key>
                <string>{365,532}</string>
                <key>textureRect</key>
                <string>{{1460,1064},{365,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>minghuoyanluo.png</string>
            <key>size</key>
            <string>{1825,1596}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbb14667526b2611f4da92ff7a450917:3dfa8ead7532cc32e9aa135b4c7bfa02:72d69b6663f3722591fd951aaa1e90f7$</string>
            <key>textureFileName</key>
            <string>minghuoyanluo.png</string>
        </dict>
    </dict>
</plist>
