<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cccc_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{0,0},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cccc_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{650,0},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cccc_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{1300,0},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cccc_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{0,650},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cccc_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{650,650},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cccc_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{1300,650},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cccc_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{0,1300},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cccc_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{650,1300},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cccc_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{1300,1300},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhishengliuyanren.png</string>
            <key>size</key>
            <string>{1950,1950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5886783914fb510ec1fd6919c31e857:2e1fc8eca2dec55ba05235e5cea630e4:c332032e1c9ab338d7b0d734e8dbdb9e$</string>
            <key>textureFileName</key>
            <string>zhishengliuyanren.png</string>
        </dict>
    </dict>
</plist>
